<h1>Set new password</h1>

{{#if error}}
    <div style="color: red">{{error}}</div>
{{/if}}

<form action="/api/users/pwdReset03" method="post">
    <input type="password" name="password" placeholder="Set new password">
    <input type="repeatPassword" name="repeatPassword" placeholder="Repeat password">
    <input type="text" name="token" value="{{token}}" hidden>
    <input type="submit" value="Change password">
</form>